{{> head}}
{{! --------------- }}
<div class="container">
  <h1 class="display-4">Libros disponibles</h1>
  <hr class="my-4">
  <div id="showAlert"></div>
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3" id="rowLibros">
  </div>
</div>
{{! --------------- }}
{{> footer}}