{{> head}}
{{! --------------- }}
<div class="container">
    <h1 class="display-4">Alquileres y reservas</h1>
    <hr class="my-4">
    <div id="showAlert"></div>
    <div id="historialCliente">

    </div>
</div>
{{! --------------- }}
{{> footer}}