{{> head}}
{{! --------------- }}
<div class="container">
    <h1 class="font-weight-normal pt-3">Alquileres y reservas</h1>
    <hr>
    <div id="showAlert"></div>
    <div id="historialCliente">

    </div>
</div>
{{! --------------- }}
{{> footer}}