    </div> <!-- end main div-->
    <footer class="border-top">
      <div class="container py-3 text-muted">
        <div class="row">
          <div class="col-12 col-md-6 text-center text-md-left">
            <span class="d-block">© 2020 - Libraryd - Biblioteca Municipal de Carmen De Areco</span>
            <a class="text-muted small-75" href="https://www.google.com/maps/place/Rivadavia+586,+Carmen+de+Areco,+Provincia+de+Buenos+Aires/" target="_blank" title="Ubicación - Google Maps">
              <i class="fas fa-map-marker-alt"></i> Rivadavia 586, Carmen de Areco, Provincia de Buenos Aires</span>
            </a>
          </div>
          <div class="col-12 col-md-6">
            <ul class="nav justify-content-center justify-content-md-end">
              <a class="nav-link text-muted" href="https://www.carmendeareco.gob.ar/telefonos/" target="_blank" title="Telefonos"><i class="fas fa-phone"></i></a>
              <a class="nav-link text-muted" href="https://es-la.facebook.com/BibliotecaPopularJuanBautistaAlberdi/" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
              <a class="nav-link text-muted" href="https://twitter.com/MunicipioCdeA" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
              <a class="nav-link text-muted" href="https://www.instagram.com/municipalidad_carmendeareco/" target="_blank" title="Twitter"><i class="fab fa-instagram"></i></a>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- bootstrap.js -->
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/d67a530d69.js" crossorigin="anonymous"></script>
    {{#if scripts}}
      {{#each scripts}}
        <script type="module" src="/js/{{this}}"></script>
      {{/each}}
    {{/if}}
    <script type="module" src="/js/index.js"></script>
  </body>
</html>