<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-sm">
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand m-auto text-hide" href="/">
    <img src="/img/libraryd-h40.png" height="40" class="d-inline-block align-top" alt="">
    Libraryd
  </a>
  <div class="collapse navbar-collapse mr-auto mb-3 mb-lg-0" id="navbarToggler">
    <ul class="navbar-nav my-auto p-2">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/libros"><i class="fas fa-book"></i> Libros</a>
      </li>
    </ul>
    <div class="search ml-auto">
    <form class="mr-2" action="/buscar" method="GET">
        <div class="input-group border w-auto">
        <input type="text" class="form-control border-0" placeholder="Buscar libro..." name="q">
        <div class="input-group-prepend">
        <button class="btn btn-outline-secondary border-0" type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <div id="userNavbar">
  </div>
</nav>
