{{> head}}
{{! --------------- }}
<div class="container mt-5 p-5">
  <h1 class="display-4">Alquilar libro</h1>
  <div class="alquilerxdxd">
    <div id="showAlert"></div>
    <form id="alquilerForm">
      <div class="form-group">
        <label for="clienteid">ID de cliente:</label>
        <input name="clienteid" id="clienteid" class="form-control form-control-lg " type="text" placeholder="ID de cliente" disabled>
      </div>
      <div class="form-group">
        <label for="isbn">ISBN de libro</label>
        <input name="isbn" id="isbn" class="form-control form-control-lg " type="text" placeholder="Codigo ISBN de libro">
        <span class="small-75 text-muted">*Nota: Puedes utilizar el <a href="/buscar">buscador</a> para cargar el ISBN de un libro automáticamente.</span>
      </div>
      <label>Fecha de alquiler:</label>
      <div class="input-group">
      <input name="fechaalquiler" type="text" class="form-control form-control-lg" id="datepicker" placeholder="AAAA-MM-DD">
      </div>

      <button name="alquilarbtn" type="submit" class="btn btn-success btn-block btn-lg mt-4">Alquilar</button>
    </form>
  </div>
</div>
{{! --------------- }}
{{> footer}}