{{> head}}
{{! --------------- }}
<div class="container">
  <h1 class="font-weight-normal">Alquilar libro</h1>
  <hr class="my-2">
  <div id="showAlert"></div>
    <form id="alquilerForm">
      <div class="form-group">
        <label for="clienteid"><i class="fas fa-user text-muted"></i> ID de cliente:</label>
        <input name="clienteid" id="clienteid" class="form-control form-control-lg " type="text" placeholder="ID de cliente" disabled>
      </div>
      <div class="form-group">
        <label for="isbn"><i class="fas fa-barcode text-muted"></i> ISBN de libro</label>
        <input name="isbn" id="isbn" class="form-control form-control-lg " type="text" placeholder="Codigo ISBN de libro">
        <span class="small-75 text-muted">*Nota: Puedes utilizar el <a href="/buscar">buscador</a> para cargar el ISBN de un libro automáticamente.</span>
      </div>
      <label for="fechaalquiler"><i class="fas fa-calendar text-muted"></i> Fecha de alquiler:</label>
      <div class="input-group">
      <input name="fechaalquiler" type="text" class="form-control form-control-lg" id="datepicker" placeholder="AAAA-MM-DD">
      </div>

      <button id="btnsubmit" name="alquilarbtn" type="submit" class="btn btn-success btn-block btn-lg mt-4">Alquilar</button>
    </form>
</div>
{{! --------------- }}
{{> footer}}