@import "bootstrap-datepicker3.min.css";

/* CUSTOM COLORS */
.text-primary { color: #31cdb0!important}
.text-secondary { color: #3551a4!important}
.bg-primary {background: #31cdb0!important}

div#app {
  padding-top: 70px;
}

.small {
  font-size: 60%;
}
.small-75 {
  font-size: 75%;
}

.coverlibro {
  height: 300px;
  width: auto;
}
.alquiler-libro-img {
  height: 180px;
  width: auto;
}

/*   HOME    */
#features-home {
  padding: 1em;
}
#features-home .featureicon {
  font-size: 2em;
}

/*  CARDS */
#cardBig .icon {
  font-size: 5em;
}
#cardBig .title {
  font-size: 2em;
}
